<html>
<head>
<title>Mission of Hope, Haiti / My MOH</title>
</head>

<body>
<table style="border:10px solid #1a3232; background:#e4d4ba;" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.mohhaiti.org"><img src="http://www.mohhaiti.org/images/email-header.png" alt="Mission of Hope, Haiti" width="600" height="174" border="0" /></a></td>
      </tr>
      <tr>
        <td><table width="95%" border="0" align="center" cellpadding="10" cellspacing="0">
          <tr>
            <td valign="top"><p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">Hello,</p> 
		 
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">We are notifying you that your MYMOH account password was recently changed.</p>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">If you did not make this request, please email us at info@mohhaiti.org.</p>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">Sincerely,</p>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;"><em>The Mission of Hope, Haiti Team</em></p>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">&nbsp;</p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#1A3232"><table width="100%" border="0" cellspacing="0" cellpadding="10">
          <tr>
            <td><p style="font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:12px; font-weight:bold; text-align:center; color:#07996e;">
            <a style="color:#07996e;" href="http://mohhaiti.org/what-we-do&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships">What We Do</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
            <a style="color:#07996e;" href="http://mohhaiti.org/about_us&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships">About Us</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
            <a href="http://mohhaiti.org/stay-connected&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships" style="color:#07996e;">Stay Connected</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
            <a style="color:#07996e;" href="https://secure3.convio.net/mohh/site/Donation2;jsessionid=5872C7FB061CCF417D464F6A9B821061.app334a?df_id=1600&amp;1600.donation=form1">Donate</a>
            </p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
          <tr>
            <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center; color:#1a3232;">As an organization following Jesus Christ, Mission of Hope exists to<br />
              bring life transformation
              to every man, woman, and child in Haiti. <br />
              We desire to serve the nation of Haiti, and see lives changed.</p></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="80"><img src="http://www.mohhaiti.org/images/email-ECFA_Accredited_RGB_Small.png" width="39" height="39" alt="EDFA Accredited" /></td>
                <td><p style="color:#07996e; font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:12px; text-transform:uppercase;"><strong>Mission of Hope, Haiti<br />
P.O. Box 171500
Austin, TX 78717</strong></p></td>
                <td width="80"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="right"><a href="http://www.facebook.com/mohhaiti&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships"><img src="http://www.mohhaiti.org/images/email-icon-facebook.png" alt="Facebook" width="16" height="16" border="0" /></a></td>
                    <td align="right"><a href="http://twitter.com/mohhaiti&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships"><img src="http://www.mohhaiti.org/images/email-icon-twitter.png" alt="Twitter" width="16" height="16" border="0" /></a></td>
                    <td align="right"><a href="http://vimeo.com/mohhaiti&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships"><img src="http://www.mohhaiti.org/images/email-icon-vimeo.png" alt="Vimeo" width="16" height="16" border="0" /></a></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
